.asdf{
color:white;
text-shadow:0 0 3px #FF0000, 0 0 5px #0000FF;
font-size:50px;
}

a:hover{
text-decoration:none;
}
.new12{
margin-left:13%;
}
.new123{
margin-top:1em;
width:80%;
text-decoration:none;
color: white;
border: 2px solid white;
border-radius: 10px;
}

.new2{
font-size:3em;
color : white;
}
.ne{
color:red;
color : white;
}
.new1{
margin-left:12%;
}

